@{
    ViewData["Title"] = "Upload";
}

<h2>Upload Files</h2>

@using (Html.BeginForm("UploadFile", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
        <div>
        <input type="file" name="postedFiles" multiple />
        <br />Container name @Html.TextBox("containerName", "")
        <br />
        <input type="submit" value="Upload" />
        @ViewBag.Message
        </div>
}