@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor

@{
    ViewData["Title"] = "Upload";
    //var data = TempData["StorageAccountName"];
    var data = Accessor.HttpContext.Session.GetString("StorageAccountName");
}

<h2>Incarca poze</h2>

@using (Html.BeginForm("UploadFile", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        <br />

        <input type="file" name="postedFiles" multiple /><br />
        Overwrite files @Html.CheckBox("isOverwriting", true)
        <br /><br />
        
        Storage name '@data'<br />
        Container name @Html.TextBox("containerName", "")<br />
        Create container if not exists @Html.CheckBox("shouldCreateContainerIfNotExists")
        <br /><br />

        <input type="submit" value="Incarca" />
        <br />
        <br />

        @ViewBag.Message
    </div>
}