@{
    ViewData["Title"] = "Bun venit";
}
<h1>@ViewData["Title"]</h1>

<p>
    Selecteaza <a asp-controller="GetImages" asp-action="Index">'Vezi poze'</a> sau
    <a asp-controller="Upload" asp-action="Index">'Incarca poze'</a>
</p>



