<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://pozealbum-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/95134477-4d23-468e-b970-cd255f4cb315/resourcegroups/FunctionAppRG3/providers/Microsoft.Web/sites/pozealbum-api</ResourceId>
    <UserName>$pozealbum-api</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://pozealbum-api.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>